#search{
	background: url("../img/book1.jpg") no-repeat center center ;
	background-size: cover;
	height: 630px;
	width: 1348px;
	margin-left:-7px;
	margin-top:-7px;
+
}

#rectable{
	background-color: white;
	width: 80%;
	margin-left:150px;
	height:100%;
}

#toprec
{
	padding-left:40px;
	padding-top:30px;
}

#bookName
{
	display:inline;
	width:40%;
	padding:20px;
	margin-left:40px;
}

